/* .iframe-container {
  position: inherit;
  overflow: scroll;
} */



@media screen and (max-height: 821px) {
  body {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;

    box-sizing: border-box !important;

  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    text-decoration: none;
    color: inherit;
  }

  a:hover,
  a:link,
  a:active {
    text-decoration: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }

  .container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    position: absolute;
    overflow: hidden;
  }

  .main-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 500px 100px;
    transition: transform .3s ease;
  }

  .header {
    width: 100%;
    height: 56px;
    background: black;
  }

  .header-container {
    height: 100%;
    padding: 0% 23%;
    margin: 0% auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .bottom,
  .right {
    position: fixed;
    background: black;
  }

  .right {
    top: 0;
    bottom: 0;
    width: 4%;
    right: 0;
  }

  .bottom {
    left: 0;
    right: 0;
    height: 5.5%;
    bottom: 0;
  }

  /* FOR FUTURE LOGO

    .logo {
      width: 100%;
    } */

  .nav-bar {
    display: flex;
    flex-direction: row;
    width: 65%;
    align-items: center;
    align-self: stretch;
  }


  .nav-list {
    list-style: none;
    padding: 31.5%;
    margin: 0%;
    width: 120%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }


  .nav-list-item {
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -23.5vw;
    transition: color .3s ease;
    color: #989797;
  }

  .nav-list-item:not(:last-child) {
    margin-right: 71%;
  }


  .sub-list-container {
    overflow: hidden;
    position: absolute;
    top: 6.7vh;
    left: 1.5vw;
    transform: translateX(-50%);
    /* If we need show/hide feature */
    height: inherit;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease;
  }

  .sub-list {
    width: 15vw;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
  }


  .sub-item {
    color: #989797;
    font-size: 80%;
    padding: 8%;
    position: relative;
    align-self: stretch;
    text-align: center;
    z-index: 2;
    transition: color .3s ease;
  }

  .sub-item:hover {
    color: white;
  }

  .sub-item::before {
    z-index: 1;
  }

  .nav-list-item:hover {
    cursor: pointer;
    color: gold;
  }

  .nav-list-item:hover .sub-list-container {
    /* For show/hide feature */
    visibility: visible;
    opacity: 0.9;
  }

  .toggle-nav {
    display: none;
  }

